<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--    text与utext的区别-->
    <p>text与utext的区别</p>
    <p th:text="${name}">name</p>
    <p th:text="${password}">password</p>
    <p th:utext="${name}">name</p>
    <p th:utext="${password}">password</p>

<!--    变量表达式-->
    <p>变量表达式</p>
    <p th:text="${person.getName()}">name</p>
    <p th:text="${person.getPassword()}">password</p>

<!--    选择变量表达式-->
    <p>选择变量表达式</p>
    <div th:object="${person}">
        <p th:text="*{name}">name</p>
        <p th:text="*{password}">password</p>
    </div>

    <p>链接url表达式</p>
    <a href="/welcome" th:href="@{/welcome}">欢迎</a>



</body>
</html>